html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
.navbar {
  background: springgreen;
	left: 0;
	width: 400px;
	padding: 1rem;
	height: 100vh;
    position: fixed;
  z-index: 0;
}
.title {
    display: none;
    color: white;
	font-size: 2rem;
}
.mobileCart {
    display: none;
    color: white;
	font-size: 20px;
	text-align: right;
}

.mobileLogin {
    display: none;
    color: white;
	font-size: 20px;
	text-align: left;
}
.filters-container {
  max-height: calc(100vh - 100px);
  height: 100%;
  overflow-y: auto;

}

nav {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
p *:last-child {
  margin-bottom: 0;
}

.btn {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
	text-align: center;
  border-radius: 4px;
}

.toggle-btn {
  color: white;
	border: 1px solid white;
	display: none;
	max-width: 200px;
	font-size: 1.3rem;
	align-self:flex-end;
	padding: 10px;
	margin-top: 10px;
}

.toggle-btn:hover {
  background: white;
	color: mediumseagreen;
}
@media all and (max-width: 1200px) {
  .title {
    display: block;
    text-align: center;
  }
  .mobileCart {
    display: block;
} 
.mobileLogin {
    display: block;
}

  .toggle-btn {
    display: block;
  }
  .navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .navbar.active {
    height: 100vh;
  }
  .hidden {
    display: none;
  }
    
}

@media only screen and (max-width: 480px) 
{
  html {
    font-size: 100%;
  }
}
